.body {
    padding: none;
}

.btn-own {
    background-color: rgb(247,202,201);
    border: none;
    color: white;
    text-align: center;
    display: inline-block;
    border-radius: 4px;
    transition-duration: 0.2s;
    height:25px;
    width:100px;
    margin: -20px -50px;
    position:relative;
    top:70%;
    left:50%;
}

.btn-own:hover{
    background-color: rgb(248, 155, 153);
}

.center {
    height: 500px;
    position: relative;
    border: none;
}
.center p, h2 {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.stripe {
    color: white;
    margin: none;
    padding: none;
}
.stripe img {
    padding: 50px;
    width: 47.6%;
}
#first {
    background-color: rgb(113, 113, 228);
    height: 800px;
}
#second {
    background-color: rgb(137, 171, 227);
    height: auto;
}

.media {
    padding: 25px 25px;
}


.summary {
    padding: 25px;
}
.summary a {
    color: white;
}
#myDIV {
    display: none;
    width: 100%;
    padding: 50px 0;
    background-color: lightblue;
    
}

.external {
    padding: 25px;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}
.fa:hover {
    opacity: 0.7;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-github {
    background: black;
    color: white;
}